{% extends 'base.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
    <div class="container jumbotron">
        <h2>Register a new user</h2>
        {{ form(form) }}
    </div>
{% endblock %}
